acme==1.24.0
asgiref==3.5.0
certbot==1.24.0
certbot-apache==1.24.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
ConfigArgParse==1.5.3
configobj==5.0.6
cryptography==36.0.1
distro==1.7.0
Django==4.0.6
idna==3.3
josepy==1.13.0
numpy==1.22.3
pandas==1.4.1
parsedatetime==2.6
psycopg2==2.9.3
pycparser==2.21
pyOpenSSL==22.0.0
pyRFC3339==1.1
python-augeas==1.1.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
requests-toolbelt==0.9.1
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.8
zope.component==5.0.1
zope.event==4.5.0
zope.hookable==5.1.0
zope.interface==5.4.0
